@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: transparent;
    // background: #0F0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    // width: 1920px;
    // height: 1080px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overlay-wrapper {
    width: 1920px;
    height: 1080px;
}
