{
  "streamer": {
    "username": "streamername",
    "password": "oauth:abc123"
  },
  "bot": {
    "username": "botname",
    "password": "oauth:abc123"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "mongo": {
    "url": "mongodb://localhost:27017",
    "dbName": "n3rdbot"
  },
  "options": {
    "panelUser": "admin",
    "panelPass": "admin",
    "hostname": "http://myhostname",
    "clientId": "abc123",
    "logLevel": "error"
  }
}